.Article {
  height: 220px;
  width: 880px;
  margin: 18px auto;
}

.Article:hover {
  cursor: pointer;
  box-shadow: 0 0 5px;
}

.Image{
  height: 220px;
  width: 250px;
  float:left;
  margin-right: 25px;
}

.Title {
  margin: 10px 0 0 0;
  color: rgb(0, 66, 30);
}

.Title:hover {
  color: rgb(0, 170, 77);
}

